

.frame{
height:850px
}

/*  @media (min-width: 992px) {
	.frame{
		height:1200px
	}
}
@media (min-width: 1200px) {
	.frame{
		height:1100px
	}
} */

@media (min-width: 700px) {
	.frame{
		height:1100px
	}
	
/* @media (max-width: 699px){
	.frame{
		height:800px
	}
} */